commands:
  00_ensure_mounts:
    command: "mountpoint -q /var/app/donut-working && mountpoint -q /var/app/donut-derivatives"
  01_make_temp:
    command: "mkdir -p /var/app/donut-working/temp"
  02_set_ownership:
    command: "chgrp 1000 /var/app/donut-* /var/app/donut-working/temp"
  03_set_permissions:
    command: "chmod g+wx /var/app/donut-* /var/app/donut-working/temp"
