files:
  "/home/ec2-user/configure_awslogs.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash

      config=$(cat /opt/elasticbeanstalk/deploy/configuration/containerconfiguration | jq -r '.optionsettings | {"aws:elasticbeanstalk:application:environment"}[][]')
      for var in $config; do eval $var; done
      container_instance_id=$(curl -s http://localhost:51678/v1/metadata | jq -r '. | .ContainerInstanceArn' | awk -F/ '{print $2}' )

      cat <<__EOF__ > /etc/awslogs/awslogs.conf
      [general]
      state_file = /var/lib/awslogs/agent-state

      [application_log]
      file = /var/log/containers/*/production.log
      log_group_name = ${STACK_NAMESPACE}
      log_stream_name = ${STACK_NAME}/${STACK_TIER}/${container_instance_id}/production.log
      datetime_format = %Y-%m-%dT%H:%M:%S.%f
      time_zone = UTC
      __EOF__

      service awslogs restart
commands:
  01_configure_awslogs:
    command: /home/ec2-user/configure_awslogs.sh
