files:
  "/home/ec2-user/update_clamav.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash

      container_id=$(docker ps | grep nulib/donut | cut -d ' ' -f 1)
      if [[ ! -z "$container_id" ]]; then
        docker exec $container_id freshclam
      fi
  "/home/ec2-user/crontab":
    mode: "000644"
    owner: root
    group: root
    content: |
      0 2 * * * /home/ec2-user/update_clamav.sh
      
commands:
  01_install_crontab:
    command: "crontab /home/ec2-user/crontab"
