files:
  "/usr/sbin/update_clamav":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash

      container_id=$(docker ps | grep nulib/donut | cut -d ' ' -f 1)
      if [[ ! -z "$container_id" ]]; then
        docker exec $container_id freshclam
      fi
  "/etc/cron.d/update-clamav":
    mode: "000644"
    owner: root
    group: root
    content: |
      0 2 * * * /usr/sbin/update_clamav
