files:
  "/etc/logrotate.d/docker_container_logs":
    owner: root
    group: root
    mode: "000644"
    content: |
      /var/lib/docker/containers/*/*-json.log {
          copytruncate
          maxsize 200m
          daily
          rotate 14
          compress
          missingok
          create 0644 root root
      }
