packages:
  yum:
    jq: []
files:
  "/home/ec2-user/update_s3_config.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      eval $(cat /opt/elasticbeanstalk/deploy/configuration/containerconfiguration | jq -r '.optionsettings | {"aws:elasticbeanstalk:application:environment"}[][]')
      AWS_REGION=$(curl -s http://169.254.169.254/latest/dynamic/instance-identity/document | jq -r '.region')
      cat > ./config/cantaloupe.properties << EOF
      extends cantaloupe_defaults.properties
      S3Resolver.bucket.name = ${TIFF_BUCKET}
      S3Resolver.endpoint = s3.dualstack.${AWS_REGION}.amazonaws.com
      S3Resolver.access_key_id = ${AWS_ACCESS_KEY_ID}
      S3Resolver.secret_key = ${AWS_SECRET_KEY}
      EOF
container_commands:
  01_update_s3_config:
    command: "/home/ec2-user/update_s3_config.sh"
