commands:
  00_provision_node:
    command: |
      yum install -y puppet3
      mkdir -p /opt/puppetlabs/puppet/bin/
      ln -s $(which ruby) /opt/puppetlabs/puppet/bin/ruby
      puppet config set trusted_node_data true
      puppet config set stringify_facts false
      mkdir -p /etc/aws /etc/facter/facts.d /opt/nul
      curl -o /etc/facter/facts.d/ec2_facts https://nul-repo-deploy.s3.amazonaws.com/ec2_facts
      chmod -R 0755 /etc/facter
      cd /opt/nul
      curl https://nul-repo-deploy.s3.amazonaws.com/aws_pe.tgz | tar xz
      echo "include nulaws" >> local_node.pp
      echo "include nulaws::docker" >> local_node.pp
      echo "include nulaws::$(facter -pj | jq -r '.ec2_stack_app')" >> local_node.pp
      puppet apply --modulepath=/opt/nul/pe/environments/aws_production/modules local_node.pp
      sleep 5
      /sbin/start ecs
      echo "00_puppet: Complete"