files:
  "/usr/sbin/docker-exec":
    owner: root
    group: root
    mode: "000755"
    content: |
      #!/bin/bash

      if [[ ! -f /var/app/current/Dockerrun.aws.json ]]; then
        echo "Dockerrun.aws.json not found. Using first container."
        container=$(docker ps -q | head -1)
        image=$(docker inspect ${container} | jq -r ".[].Config.Image")
      else
        image=$(cat /var/app/current/Dockerrun.aws.json | jq -r '.containerDefinitions[0].image')
        container=$(docker ps -q -f "ancestor=${image}")
      fi

      cmd=${1:-/bin/bash}

      RED="\033[31;1m" BLUE="\033[34;1m" NC="\033[0m"
      >&2 echo -e "${NC}Executing ${BLUE}${cmd}${NC} in container ${BLUE}${container}${NC} (${BLUE}${image}${NC})${NC}"
      docker exec -ti ${container} ${cmd}
