commands:
  00_ensure_mounts:
    command: "mountpoint -q /var/app/arch-working && mountpoint -q /var/app/arch-derivatives"
  01_make_temp:
    command: "mkdir -p /var/app/arch-working/temp"
  02_set_ownership:
    command: "chgrp 1000 /var/app/arch-* /var/app/arch-working/temp"
  03_set_permissions:
    command: "chmod g+wx /var/app/arch-* /var/app/arch-working/temp"
