files:
  "/var/lib/update-motd/motd":
    mode: "000644"
    owner: root
    group: root
    content: |
      .                                                ________
                                                    .-"        "-.
                                                  .'   .  . ' ;   `.
                                                 /  `  .------. . ' \
         ###    ########   ######  ##     ##    |  :  |        | ; ` |
        ## ##   ##     ## ##    ## ##     ##    |  :  |        | ; ` |
       ##   ##  ##     ## ##       ##     ##    |  :  |        | ; ` |
      ##     ## ########  ##       #########    |  :  |        | ; ` |
      ######### ##   ##   ##       ##     ##    |  :  |        | ; ` |
      ##     ## ##    ##  ##    ## ##     ##    |  :  |        | ; ` |
      ##     ## ##     ##  ######  ##     ##    |  :  |        | ; ` |

      This EC2 instance is managed by AWS Elastic Beanstalk. Changes made via SSH
      WILL BE LOST if the instance is replaced by auto-scaling. For more information
      on customizing your Elastic Beanstalk environment, see our documentation here:
      http://docs.aws.amazon.com/elasticbeanstalk/latest/dg/customize-containers-ec2.html
