commands:
  01_create_config_file:
    command: |
      mkdir -p /etc/aws
      echo '[profile default]' > /etc/aws/config
      echo -n 'region = ' >> /etc/aws/config
      curl -s http://169.254.169.254/latest/dynamic/instance-identity/document/ | jq -r '.region' >> /etc/aws/config
    test: test ! -f /etc/aws/config
