commands:
  00_install_puppet_agent:
    command: |
      mkdir -p /etc/facter/facts.d
      curl -o /etc/facter/facts.d/ec2_facts https://nul-repo-deploy.s3.amazonaws.com/ec2_facts
      chmod -R 0755 /etc/facter
      curl -k https://pe.library.northwestern.edu:8140/packages/current/install.bash | bash
    test: "! rpm -qa | grep puppet-agent"